/* Header */


/* Project */

.project-card {
    padding-top: 10px;
}

.card-body {
    margin-left: 60px;
    margin-right: 5px;
}

/* Footer */
footer {
    /* color:#37bff5; */
    opacity: 85%;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

#footer-text {
    width: fit-content;
    margin: auto;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 25px;
}