
.App {
  text-align: center;
}

body {
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .mainContent {
  padding: 10vw;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
} */

.contactContent {
  min-width: 300px;
  padding: 10vw;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  text-align: left;
}

.row {
  padding: 10px;
}

#contact-link {
  color: rgb(70, 69, 69);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
